<!DOCTYPE html>	
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="design.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans" />
</head>
<body>
	<header>
		<h1 class="name">dorm gardens</h1>
			<nav>
				<ul>
					<a href="mailto:dormgardens@gmail.com">contact us</a>
				</ul>
			</nav>	
	</header>	

<main>

<div class="mainPage">

	<div class="filterList">
		<h2>show only:</h2>
		<div class="filter">
		
  			<ul th:each="currentTag: ${tags}">
  				<a th:href="@{/tag(id=${currentTag.id})}">
  				<h3 th:text="${currentTag.name}"></h3></a>
  				<br></br>
  			</ul>
  			
		</div>
	</div>	
	
	<div class="pic-container">
		<div class="gallery" th:each="currentPlant: ${plant}">
			<a th:href="@{/plant(id=${currentPlant.id})}">
				<img th:src="${currentPlant.picture}" class="plant" alt="plant" width="150" height="50"></img>
			</a>
			<div class="price">
 		 		<p th:text="${currentPlant.price}"></p>
 			</div>
		</div>
	</div>


	<div class="aboutUs">
		<h2>about us</h2>

		<h4>Student at Miami University, every planter is handmade in Oxford, Ohio.</h4>

		<h4>We fulfill custom orders upon request and have multiples of each listing.</h4>

		<h4>Each planter sold plants a tree in a National Forest! #PlanterWithAPurpose</h4>
	</div>


</div>


</main>


</body>
</html>